.traveldescription-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0;
    justify-content: space-around;
    width: 80%;
    padding-top: 10%;
    margin: 0 auto;

  }

.traveldescription-description-box{
    border: .05px solid black;
    width: 300px;
    margin-bottom: 30px;
    text-align: justify;
    border-radius: 10%;
    height: 500px;
}

.traveldescription-img-design{
    width: 300px;
    height: 200px;
  
}

.traveldescription-title-design{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;

}

.traveldescription-text-design{
    font-size: 15px;
    
}

.traveldescription-button-design{
    width: 50%;
    background-color: #84446C;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 25%;

}

.favorites-text-design{
    color: white;
    font-size: 16px;
}


.favorites-button-design{
    right: 10%;
    height: 38px;
    color: white;
    font-size: 15px;
    background-color: #7781BB;
    width: 90px;
    border: 0.5px solid #7781BB;
    border-radius: 5px;  

}

.favorites-input-design {
    width: 200px;
    height: 30px;
    border-radius: 2%;
    margin-bottom: 4px;
   }

.favorites-title-design {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}