.header-img-design {
    width: 100%;
    height: 500px;
   
}

.header-searchbar {
  z-index: 10;
  position: absolute;
  top: 30%;
  right: 40%;
 
}

.header-input-design {
 width: 200px;
 height: 30px;
 border-radius: 2%;
}

.header-button-design {
 right: 10%;
 height: 38px;
 color: white;
 font-size: 15px;
 background-color: #2C2448;
 width: 90px;
 border: 0.5px solid #2C2448;
 border-radius: 5px;

}

/* .colmon {
  border: 1px solid  #2C2448;
  background-color: #2C2448;
  width: 20%;
  height: 600%;
  z-index: 8;
  position: absolute;
  top: 86%;
 
} */

.header-container{
  display: flex;
  flex-direction: row;
 
  
}

